# {{ ansible_managed }}
template {
  source = "{{ _template.src | mandatory() }}"
  destination = "{{ _template.dst | mandatory() }}"
  create_dest_dirs = true
  #contents = "|| keyOrDefault "service/redis/maxconns@east-aws" "5" ||"
{% if _template.cmd is defined and _template.cmd|length %}
  command = "{{ _template.cmd}}"
{% else %}
  #command= "" 
{% endif %}
  command_timeout = "60s"
  error_on_missing_key = false
  perms  = {{ _template.mode | default ("0600") }}
  backup = true
  left_delimiter  = "||"
  right_delimiter = "||"
  function_blacklist = []
  sandbox_path = ""
  wait {
    min = "2s"
    max = "10s"
  }
}
